.quantityInput {
    width: 40%;
    margin-left: 8px;
}

.customImage {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.basketImage {
    height: 120px;
    width: 150px;
    object-fit: cover;
}

.customImageFair {
    height: 240px;
    width: 100%;
    object-fit: cover;
}


.white {
    color: #fff !important;

  }

  .icons {
    font-size: 24px !important;
    color: #fff !important;

  }

.custom-inline {
    display: inline-block;
}

.custom-facebook {
    font-size: 25px !important;
    color:#4267B2;
}

.custom-heart {
    font-size: 25px !important;
}

.returnButton {
    font-size: 20px;
}

.width10 {
    width: 10%;
}

.width20 {
    width: 20%;
}
