.quantityInput {
    width: 40%;
    margin-left: 8px;
}

.customImage {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.basketImage {
    height: 120px;
    width: 150px;
    object-fit: cover;
}

.customImageFair {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.width100 {
    width: 100% !important;
}

.white {
    color: #fff !important;

  }

  
  .icons {
    font-size: 24px !important;
    color: #fff !important;

  }

.custom-inline {
    display: inline-block;
}

.custom-facebook {
    font-size: 25px !important;
    color:#4267B2;
}

.custom-heart {
    font-size: 20px !important;
    padding-left: 5px !important;
    color: #FC14AC !important;
}

.returnButton {
    font-size: 20px;
}

.width10 {
    width: 10%;
}

.width20 {
    width: 20%;
}

.pinkBottom {
    border-bottom: solid #FC14AC 5px !important;
}

.fairHeader {
    padding-top: 80px !important;
    padding-bottom: 20px !important;
}

.fairTitle {
    background-color: rgba(255, 255, 255, 0.8);
    color: #FC14AC !important;
}

.customBorder {
    border-bottom: solid #F2F2F2 1px;
}


button {
    background-color: #FC14AC !important;
    color: white !important;
    border: solid #FC14AC 1px !important;
    font-weight: 200px !important;
    border-radius: 8px !important;
}

button:hover {
    background-color: white !important;
    color: #FC14AC !important;
    border: solid #FC14AC 1px !important;
}

h5 {
    color: #5e5e5e !important;
}

.gray {
    color: #5e5e5e !important;
}

.customIcon {
    color:#FC14AC !important;
    font-size: 30px !important;
}

.pink {
    color:#FC14AC !important;
}

.customLogo {
    height: 50px;
    padding-right: 20px !important; 
  
}

.nav-link {
    padding-bottom: 5px !important;
}

.cardTitle {
    font-weight: 600;
}

.mouse-icon {
    background-color: #FC14AC !important;
}

.smallIcon {
    font-size: 17px;
    padding-top: 5px;
}

.mediumIcon {
    font-size: 25px;
}

.btnLogin{
    background-color: #FC14AC !important;
    color: white !important;
    border: solid #FC14AC 1px !important;
    font-weight: 200px !important;
    border-radius: 8px !important;
    width: 360px;
}

.btnLoginReg{
    background-color: rgb(255, 255, 255) !important;
    color: #FC14AC !important;
    border: solid #FC14AC 1px !important;
    font-weight: 200px !important;
    border-radius: 8px !important;
    width: 360px;
}

.btnLoginReg:hover {
    background-color: #FC14AC !important;
    color: rgb(255, 255, 255) !important;
    border: solid #FC14AC 1px !important;
}

.textRequired{
    font-size: 12px !important;
}

.customLineThrough {
    text-decoration: line-through !important;
}

.colorCardLogin{
    background-color: rgb(255, 255, 255) !important;
    width: 500px;
    height: 584px;
}

.imagePerfil{
    padding-left: 110px;
}


.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }

  